/* Body Mass Widget CSS */

/* Edit the IDs and classes with your own CSS */

/* Main */
#calculate_bodymass {
  width: auto;
  display: block;
  padding: 0 0 4px;
}

/* Table */
#calculate_bodymass table {
  border-collapse: separate;
  border-spacing: 3px;
  border: 0;
  margin: 0 0 12px;
  width: 100%;
}

#weight, #height {
  width: 73%;
}

/* Title */
#calculate_bodymass h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

/* Calculate and Submit */
#reset, #submit {
  text-align: center;
  width: 94px;
}

#reset, #submit: hover {
  opacity: 3;
}

/* Result */
#calculate_bodymass p {
  text-align: center;
}

/* Result */
#bm_result {
  margin-top: 13px;
  margin-bottom: 5px;
}
